* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: hsl(228, 45%, 44%);
    font-size: 18px;
    text-align: center;
    width: 375px;
    max-width: 375px;
    height: 100%;
}

.container1 {
    display: flex;
    flex-direction: column;
    height: 520px; /*quero mudar isso, mas ainda não sei como*/
    background-image: url(./images/mobile/image-header.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

/* h1 {
    /* letter-spacing: 3px; */
    /* display: flex;
    font-weight: 800;
    padding-top: 20px;
    padding-left: 20px;
} */ 

.container1 > .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.container1 > .top > h1 {
    padding-left: 20px;
    color: #fffbf8;
}

.container1 > .top > .menu {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.container1 > .top > .menu:hover {
    background-color: #8FD5C8;
}

.title {
    font-family: "Fraunces";
    font-size: 40px;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
}

/*------IMAGEM DO OVO------*/
.ovo {
    /*grid-column: 100%;
    background-image: url(./images/mobile/image-transform.jpg);
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;*/
    display: block;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

/*-----TEXTO TRANSFORM-----*/

.transform-brand {
    display: flex;
    flex-direction: column;
}

.transform-brand:nth-child(2) {
    background-color: #fffbf8;
    font-family: "Barlow";
}

.transform-brand:nth-child(2) h1 {
    font-family: "Fraunces";
    font-size: 30px;
    font-weight: bold 900px;
    padding: 30px;
    color: #23303E;
}

.transform-brand:nth-child(2) p {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    letter-spacing: tight;
    color: #818498;
    line-height: 25px;
}

.transform-brand:nth-child(2) .learn {
    font-family: "Fraunces";
    font-size: 12px;
    font-weight: 700;
    color: #23303E;
    padding: 20px 20px 40px 20px;
    text-decoration: underline solid 4px rgba(255, 255, 0, 0.5);
}

/*------IMAGEM DA TAÇA------*/

.taca {
    display: block;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

/*-----TEXTO DO STAND-OUT-----*/

.aparece {
    display: flex;
    flex-direction: column;
    background-color: #fffbf8;
}

.aparece h1 {
    font-family: "Fraunces";
    font-size: 30px;
    font-weight: bold 900px;
    padding: 30px;
    color: #23303E;
}

.aparece p {
    font-family: "Barlow";
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    letter-spacing: tight;
    color: #818498;
    line-height: 25px;
}

.aparece .learn2 {
    font-family: "Fraunces";
    font-size: 12px;
    font-weight: 700;
    color: #23303E;
    padding: 20px 20px 40px 20px;
    text-decoration: underline solid 4px rgba(254, 120, 103, 0.5);
}

/*-----DIV CEREJAS-----*/

.gd-photo {
    display: flex;
    flex-direction: column;
}

.gd1 {
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gd2 {
    padding-top: 280px;
}

.photo {
    background-image: url(./images/mobile/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 280px;
}

.gd-photo h1 {
    font-family: "Fraunces";
    font-size: 30px;
    font-weight: bold 900px;
    padding: 30px;
    color: #23303E;
    align-items: end;
}

.gd-photo p {
    font-family: "Barlow";
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    letter-spacing: tight;
    color: #818498;
    line-height: 25px;
}

/*-----TESTIMONIALS-----*/

.testimonials {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.testimonials h1 {
    font-family: "Fraunces";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 5px;
    color: #A7ABAE;
    padding-top: 40px;
}

.testimonials p {
    font-family: "Barlow";
    font-weight: 600;
    letter-spacing: normal;
    padding: 5px;
    color: #5A636C;
}

.testimonials .test-name {
    font-family: "Fraunces";
    font-weight: bold;
    color: #23303E;
}

.testimonials .test-job {
    font-family: "Barlow";
    font-size: 14px;
    font-weight: 500;
    color: #A7ABAE;
}

.testimonials > img {
    border-radius: 50%;
    margin-top: 40px;
}

/*-----IMAGENS COLORIDAS-----*/

.all-image {
    /* display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0; */
    display: flex;
    flex-direction: column;
}

/*-----FOOTER-----*/

footer {
    background-color: #8FD5C8;
    color: #458C7E;
}

footer h1 {
    /* letter-spacing: 3px; */
    font-weight: 800;
    padding-top: 40px;
}

.footer-words {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 10px 30px;
    font-family: "Barlow";
    font-size: 14px;
    font-weight: 500;
}

.socials {
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.attribution {
    font-size: 12px;
}

